<template>
  <div class="footer">
    <!-- 报名入口 -->
    <van-tabbar>
      <van-tabbar-item @click="handleClick()" icon>我要做团长</van-tabbar-item>
    </van-tabbar>
  </div>
</template>

<script>
import {
  Tabbar,
  TabbarItem,
  Dialog
} from 'vant';
export default {
  name: 'Footer',
  components: {
    [Tabbar.name]: Tabbar,
    [TabbarItem.name]: TabbarItem
  },
  computed: {
    validate () {
      let date = new Date()
      if (date.getFullYear() > 2023) {
        return false
      } else if (date.getMonth() + 1 > 7) {
        return false
      } else {
        return true
      }
    }
  },
  methods: {
    handleClick () {
      let flag = this.validate
      if (flag) {
        this.$router.push('/product')
      } else {
        Dialog({
          title: '提示',
          message: '本次活动已经结束了！',
        }).then(() => {
          // on close
        });
      }
    }
  }
}
</script>

<style lang='scss' scoped>
.van-tabbar-item {
  font-size: 40px;
  color: #ffffff;
  font-weight: 400;
  border-color: #fcaf08;
  background-color: #fcaf08;
}
.van-tabbar--fixed {
  height: 140px;
}
</style>

