.form_card {
  min-height: calc(100vh - 380px);
  padding: 10px;
  margin-top: 15px;
  color: #646566;
  background-color: #ffffff;
  font-family: 'Microsoft YaHei';
  h3 {
    margin: 0;
  }
}

.sub-card {
  margin: 0 20px;
  text-align: left;
  h1 {
    font-size: 32px;
  }
  ._box {
    width: 80%;
    margin: 20px 0;
    line-height: 60px;
    font-size: 28px;
    text-indent: 1em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    background-color: #f2f6fc;
  }
}

.class-text {
  text-align: left;
}

.class-text div:nth-child(1) {
  color: red;
  font-size: 30px;
}

.van-image {
  margin: 10px;
}
