<template>
  <div class="container">
    <van-row>
      <van-col span="6"></van-col>
      <van-col span="12">
        <div class="notice_rule">
          <img src="@/assets/image/notice_rule.png">
        </div>
      </van-col>
      <van-col span="6"></van-col>
    </van-row>
    <van-row>
      <van-col span="24">
        <div class="card" style="min-height: inherit;">
          <div class="_box" style="padding-top: 30px;">
            <van-row>
              <van-col span="2"></van-col>
              <van-col span="20">
                <div style="text-align: left;">
                  <p>1、每位会员仅限参与一次。</p>
                  <p>2、本次活动与其他活动不能同时使用。</p>
                  <p>3、课包一经售卖，概不退换。</p>
                  <p>4、有限期截至2023年12月31日。</p>
                  <p>5、可选科目：乐高、HABA、少儿编程</p>
                </div>
              </van-col>
              <van-col span="2"></van-col>
            </van-row>
          </div>
        </div>
      </van-col>
    </van-row>
  </div>
</template>

<script>
import {
  Col,
  Row,
} from 'vant';

export default {
  name: 'CourseBenefits',
  components: {
    [Col.name]: Col,
    [Row.name]: Row,
  }
}
</script>

<style lang='scss' scoped>
.container {
  background: url("@/assets/image/activity_rule_bg.jpg") no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;

  ._box {
    min-height: 500px;
    color: red;
  }
}
</style>