<template>
  <div class="container">
    <van-row>
      <van-col span="8"></van-col>
      <van-col span="8"></van-col>
      <van-col span="8">
        <div class="logo">
          <img src="@/assets/image/logo.png">
        </div>
      </van-col>
    </van-row>
    <van-row>
      <van-col span="6"></van-col>
      <van-col span="12">
        <div style="margin-bottom: 15px;">
          <img src="@/assets/image/title.png">
        </div>
      </van-col>
      <van-col span="6"></van-col>
    </van-row>
    <van-row>
      <van-col span="24">
        <div class="card">
          <div class="_box">
            <van-row>
              <van-col span="1"></van-col>
              <van-col span="22">
                <div style="width:100px;">
                  <img src="@/assets/image/brief_introduction.png">
                </div>
              </van-col>
              <van-col span="1"></van-col>
            </van-row>
            <van-row>
              <van-col span="1"></van-col>
              <van-col span="22">
                <div class="brief_introduction">
                  呱奇少儿机器人教育源自瑞士，是一家专注 3.5-12 少儿机器人
                  教育的机构。中心立足武汉，辐射全国，引入先进的教育理念及
                  授课方式，整合
                  <span
                    class="highlight"
                  >瑞士Aiexperts工作室</span>顶级人工智能专家的A!前
                  端科技、武汉
                  <span class="highlight">软帝集团</span> 年的互联网教育经验、武汉
                  <span class="highlight">诺得佳科技</span>
                  人工智能商业场景应用技术和百余名
                  <span class="highlight">IT精英</span>教研团队优势，将机
                  器人课程与语数外学科相结合，历经数年时间，研发出以智能机
                  器人、少儿人工智能、全国青少年信息学奥林匹克竞赛等系列化
                  课程体系为核心，针对中国少儿的 STEAM 创客教育体系。
                </div>
                <hr>
              </van-col>
              <van-col span="1"></van-col>
            </van-row>
            <van-row>
              <van-col span="1"></van-col>
              <van-col span="22">
                <div>
                  <img src="@/assets/image/brief_introduction_img.jpg">
                </div>
              </van-col>
              <van-col span="1"></van-col>
            </van-row>
          </div>
        </div>
      </van-col>
    </van-row>
  </div>
</template>

<script>
import {
  Col,
  Row,
} from 'vant';

export default {
  name: 'CourseBenefits',
  components: {
    [Col.name]: Col,
    [Row.name]: Row,
  }
}
</script>

<style lang='scss' scoped>
.card {
  ._box {
    padding: 40px 0;
    .brief_introduction {
      text-align: left;
      margin-top: 30px;
    }
  }
  .highlight {
    color: red;
  }
}
</style>