<template>
  <div class="container product">
    <van-nav-bar title="课程选购" left-text="返回" left-arrow @click-left="onClickLeft">
      <template #right>
        <van-icon name="ellipsis" size="18"/>
      </template>
    </van-nav-bar>
    <van-row>
      <van-col span="8"></van-col>
      <van-col span="8"></van-col>
      <van-col span="8">
        <div class="logo">
          <img src="@/assets/image/logo.png">
        </div>
      </van-col>
    </van-row>
    <van-row>
      <van-col span="6"></van-col>
      <van-col span="12">
        <div>
          <img src="@/assets/image/title.png">
        </div>
      </van-col>
      <van-col span="6"></van-col>
    </van-row>
    <van-row>
      <van-col span="24">
        <div class="form_card">
          <van-form @submit="onSubmit">
            <van-row style="border-bottom: 1px dashed #f7f7f7;">
              <van-col span="8">
                <van-image
                  width="100"
                  height="100"
                  src="https://fastly.jsdelivr.net/npm/@vant/assets/cat.jpeg"
                />
              </van-col>
              <van-col span="16">
                <div class="class-text">
                  <div>
                    <h3>团购价￥{{price}}</h3>
                  </div>
                  <div>已选择：{{selectedVal}}</div>
                </div>
              </van-col>
            </van-row>
            <van-row>
              <van-col span="24">
                <van-cell-group inset>
                  <van-field
                    v-model="form.username"
                    name="username"
                    label="学员姓名"
                    placeholder="学员姓名"
                    maxlength="4"
                    :rules="[{ required: true, message: '请填写学员姓名' },
                    { pattern: /^[\u4e00-\u9fa5]{2,4}$/, message: '请输入正确姓名' }]"
                  />
                  <van-field
                    v-model="form.phone"
                    type="number"
                    name="phone"
                    label="手机号"
                    placeholder="手机号"
                    maxlength="11"
                    :rules="[{ required: true, message: '请填写手机号' },
                    { pattern: /^1[3456789]\d{9}$/, message: '手机号格式错误' }]"
                    @blur="verifyIdentity"
                  />
                  <van-field
                    v-if="isShow"
                    v-model="form.teacher"
                    name="teacher"
                    label="带班老师"
                    placeholder="带班老师"
                    :rules="[{ required: true, message: '请填写带班老师' }]"
                  />
                </van-cell-group>
              </van-col>
            </van-row>
            <van-row>
              <van-col span="24">
                <div class="sub-card">
                  <h1>活动套餐：</h1>
                  <div
                    :class="selectedVal != item.name ? '_box' : '_box active'"
                    v-for="(item,index) in activtiyList"
                    :key="index"
                    @click="handleClick(item)"
                  >{{item.name}}</div>
                </div>
              </van-col>
            </van-row>
            <van-row>
              <van-col span="24">
                <van-button
                  block
                  :loading="loading"
                  :disabled="isDisabled"
                  type="success"
                  native-type="submit"
                >{{btnText}}￥{{price}}</van-button>
              </van-col>
            </van-row>
          </van-form>
        </div>
      </van-col>
    </van-row>
  </div>
</template>

<script>
import {
  NavBar,
  Button,
  Toast,
  Image as VanImage,
  Col,
  Row,
  Form,
  Field,
  CellGroup,
} from 'vant';
import { login } from '@/api/user';

export default {
  name: 'HomeView',
  components: {
    [NavBar.name]: NavBar,
    [Button.name]: Button,
    [VanImage.name]: VanImage,
    [Col.name]: Col,
    [Row.name]: Row,
    [Form.name]: Form,
    [Field.name]: Field,
    [CellGroup.name]: CellGroup,
  },
  data () {
    return {
      isShow: false,
      loading: false,
      isDisabled: false,
      activtiyList: [
        {
          id: 1,
          name: '199元一人购买可得任选一科2节正式课+后期报名再送2节乐高+2节HABA逻辑思维',
          price: '199.00'
        },
        {
          id: 2,
          name: '99元两人购买可得任选一科2节正式课+后期报名再送4节乐高+4节HABA逻辑思维',
          price: '99.00'
        }
      ],
      form: {
        activtiy: "",
        username: "",
        phone: "",
        teacher: ""
      },
      price: '0.00',
      selectedVal: '',
      btnText: '立即开团'
    }
  },
  mounted () {
  },
  methods: {
    // 提交报名
    onSubmit (e) {
      console.log(this.form);
      this.$router.push('/success')

      // if (this.form.activtiy) {
      //   // // 请求支付API
      //   // console.log('pay...');
      //   // request.post('http://xxx.com/wxPay/pay/h5')
      //   //   .then(res => {
      //   //     debugger
      //   //     console.log('res->', res);
      //   //     // 调起微信APP里的支付功能进行支付
      //   //     window.location.href = res.data['mweb_url']
      //   //   }).catch(err => {
      //   //     console.log('系统请求异常：' + err);
      //   //   })
      // } else {
      //   Toast('请选择活动套餐');
      // }
    },
    // 选择套餐
    handleClick (data) {
      this.form.activtiy = data.id;
      this.selectedVal = data.name;
      this.price = data.price;
    },
    // 判断用户身份
    verifyIdentity () {
      let form = this.form
      if (form.username && form.phone) {
        // 调用接口 判断用户身份是否为会员

        // 1.会员->下单

        // 2.非会员->判断受邀标识id是否有值->（有值即可下单/值为空则不能下单）
      }
    },
    // 返回
    onClickLeft () {
      this.$router.go(-1)
    }
  }
}
</script>

<style scoped>
.active {
  background-color: red;
  color: #ffffff;
}
.van-button {
  width: 90%;
  margin: 0 auto;
  margin-top: 50px;
}
</style>
