<template>
  <div class="container invitation" id="activity">
    <van-row>
      <van-col span="8"></van-col>
      <van-col span="8"></van-col>
      <van-col span="8">
        <div class="logo">
          <img src="@/assets/image/logo.png">
        </div>
      </van-col>
    </van-row>
    <van-row>
      <van-col span="6"></van-col>
      <van-col span="12">
        <div style="margin-bottom: 15px;">
          <img src="@/assets/image/title.png">
        </div>
      </van-col>
      <van-col span="6"></van-col>
    </van-row>
    <div class="content">
      <van-row>
        <van-col span="24">
          <div class="_cell">
            <div class="_user">
              <van-icon name="contact"/>
            </div>
            <div class="_user">
              <van-icon name="question-o"/>
            </div>
            <div class="_user">
              <van-icon name="question-o"/>
            </div>
          </div>
        </van-col>
      </van-row>
      <van-row>
        <van-col span="24">
          <div id="canvas">
            <div class="item-pic" id="qrinvitecode"></div>
          </div>
          <van-button
            :loading="loading"
            block
            type="primary"
            native-type="submit"
            @click="handleExportImg"
          >保存至相册</van-button>
          <van-button
            style="margin-bottom: 50px;"
            :loading="loading"
            block
            type="default"
            native-type="submit"
            @click="goBack"
          >返回首页</van-button>
        </van-col>
      </van-row>
    </div>
  </div>
</template>

<script>
import {
  Icon,
  Button,
  Toast,
  Col,
  Row,
} from 'vant';
import QRCode from 'qrcodejs2';
import html2canvas from "html2canvas";
import { formatDate, createCode } from '@/utils/validate';

export default {
  components: {
    [Icon.name]: Icon,
    [Button.name]: Button,
    [Col.name]: Col,
    [Row.name]: Row,
  },
  data () {
    return {

    }
  },
  mounted () {
    this.getQRCode();
  },
  methods: {
    // 保存图片至相册
    handleExportImg () {
      let canvas = document.getElementById("activity");
      let that = this;
      html2canvas(canvas, { scale: 2, logging: false, useCORS: true }).then(
        function (canvas) {
          let type = "png";
          let imgData = canvas.toDataURL(type);
          // 照片格式处理
          let _fixType = function (type) {
            type = type.toLowerCase().replace(/jpg/i, "jpeg");
            let r = type.match(/png|jpeg|bmp|gif/)[0];
            return "image/" + r;
          };
          imgData = imgData.replace(_fixType(type), "image/octet-stream");
          let name = formatDate(new Date()) + createCode();
          let filename = name + "." + type;
          that.saveFile(imgData, filename);
        }
      );
    },
    saveFile (data, filename) {
      let save_link = document.createElementNS(
        "http://www.w3.org/1999/xhtml",
        "a"
      );
      save_link.href = data;
      save_link.download = filename;

      let event = document.createEvent("MouseEvents");
      event.initMouseEvent(
        "click",
        true,
        false,
        window,
        0,
        0,
        0,
        0,
        0,
        false,
        false,
        false,
        false,
        0,
        null
      );
      save_link.dispatchEvent(event);
    },
    // 生成二维码
    getQRCode () {
      new QRCode('qrinvitecode', {
        width: 120,  //宽度
        height: 120, // 高度  
        text: 'https://rp.mockplus.cn/editor/Uwtx-fY01t0O/g95s4FfKH', // 需要生成二维码的链接
        render: 'canvas',// 设置渲染方式（有两种方式 table和canvas，默认是canvas）  
      })
    },
    // 返回
    goBack () {
      this.$router.push('/');
    }
  }
}
</script>



